{% extends 'base.html' %}

{% block title %} 
Buscar reparacion
{% endblock title%}

{% block contenido %}
<form>
    <div class="input-group input-group-sm mb-3 mt-4">
        <input name="q" type="text" class="form-control" placeholder="buscar por Cliente">
        <button class="btn btn-secondary"><i class="fas fa-search"></i>Buscar</button>
        <a href={% url 'buscar' %}  class="btn btn-dark" style="margin-left: 2px;"><i class="fas fa-sync-alt"></i></a>
    </div>
</form>     

</center>
    <table class="table table-bordered table-sm mt-4" style="text-align: center; fron-size: 14px;">
        <thead class="table-danger">
            <tr>
                <th>Orden</th>
                <th>Fecha</th>
                <th>cliente</th>
                <th>Telefono</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Imei</th>
                <th>Falla</th>
                <th>Precio</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        {% for reparacion in reparacion %}
        <tr> 
            <td>{{ reparacion.id }}</td>
            <td>{{ reparacion.fecha }}</td>
            <td>{{ reparacion.cliente }}</td>
            <td>{{ reparacion.telefono }}</td>
            <td>{{ reparacion.marca }}</td>
            <td>{{ reparacion.modelo }}</td>
            <td>{{ reparacion.imei }}</td>
            <td>{{ reparacion.falla }}</td>
            <td>{{ reparacion.precio }}</td>
            <td>{{ reparacion.estado }}</td>
            
        {% endfor %}
        </tr>
    </table>
</center>
    <nav class="my-4>
        {% if reparacion.has_other_pages %}
        <ul class="pagination justify-content-left">
            {% if reparacion.has_previus %}
            <a href="?page=1" class="btn btn-outline-primary mb-4" style="width:60px; border-radius: 1px; border: 1px solid #d3d3d3;First></a>
            <li class="page-item"><a class="page-link" href="?page={{ reparacion.previous_page_number }}"><i class="fas fa-angle-double-left"></i>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in reparacion.paginator.page_range %}
                {% if reparacion.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<spam class="sr-only"></spam></spam></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page"={{ i }}>{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if reparacion.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ reparacion.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
            <a href="#" class="btn btn-outline-primary mb-4" style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3; border-left: 2px"></a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

        {% endif %}            

            <a></a>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <a></a>
        </ul>
    </nav>    
    
<center>
    <div class="d-grid gap-2">
        <a class="btn btn-primary" href={% url 'listar_ingresos'%}>Volver a la lista</a>
        </div> 
        <br>
      
{% endblock %}