{% extends "layout.html" %}
{% load static %}

{% block title %} 
Crear ingreso de reparacion
{% endblock title%}

{% block content %}
<section class="container m-4">
    <div class="d-grid gap-2">
            <a class="btn btn-primary m-2" href={% url 'buscar' %}>Volver a la lista</a>
    </div> 
        <div class="container m-2 ">
            <div class="col-md-6 fst-italic " style="box-shadow: 0px 0px 10px 0px #333 inset;">
                <div class="text-center m-3"><p >Carga de Reparacion</p> </div>
                
                    <form action={% url 'crear_ingreso' %}  method="post">
                        {% csrf_token %}
                        <table class="form-outline mb-4">
                            {{form.as_table}}
                        </table>
                            <div class="d-grid gap-2">
                                    <button class="btn btn-danger"> ==> INGRESAR REPARACION <==</button> <a class="btn btn-primary m-3" href={% url 'listar_ingresos'%}>Volver a la lista</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}