{% extends 'base.html' %}

{% block title %} 
Lista de ingresos
{% endblock title%}

{% block contenido %}

    <a class="btn btn-secondary"<a href={% url 'listar_ingresos'  %}>Reparaciones</a>
    

<div class="container-fluid">
    <div class="row col-12">
        <div class="d-grid gap-2">
            
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href={% url 'crear_ingreso' %}>Crear ingreso</a>
            <div>
            <div class="p-3 mb-2 bg-dark text-white">
                {% if object_list %}
            </div>

            <ul class="list-grup-item list-grup-flush">
                {% for ingreso in object_list %}
                    {{ingreso.clase}}
                    <li class="list-grup-item">
                        
                        <a class="btn btn-primary"<a href={% url 'mostrar_ingreso' ingreso.id  %}>Mostrar ingreso</a>
                        <a class="btn btn-success"<a href={% url 'editar_ingreso' ingreso.id  %}>Editar ingreso</a>
                        <a class="btn btn-warning"<a href={% url 'eliminar_ingreso' ingreso.id  %}>Eliminar ingreso</a>
                    </li>
                {% endfor %}
            
            {% else %}
                    <p> No hay ingresos Registrados </p>
            {% endif%}
               
</div>
{% endblock %}