{% extends 'base.html' %}

{% block title %} 
Lista de ingresos
{% endblock title%}

{% block content %}
<div class="d-grid gap-2 p-2">
    <a class="btn btn-warning" href={% url 'listar_clientes'  %}>Lista de Clientes</a>
</div>
<div class="d-grid gap-2 p-2">
    <a class="btn btn-warning" href={% url 'listar_proveedores'  %}>Lista de Proveedores</a>
</div>
    
    <div>
        <div class="container  border">
            <div class="col-12 mx-auto text-center fst-italic" ">
        
            {% if object_list %}
                    <div class="container mt-3">    
                        <ul class="list-grup">
                            {% for ingreso in object_list %}
                                {{ingreso.cliente}}
                                <li class="list-grup-item row">
                                    <div class="container m-4">
                                        <div class="col-md-6 mx-auto text-center fst-italic p-2" style="background-color: rgb(0, 0, 50)">
                                    <a class="btn btn-primary"<a href={% url 'mostrar_ingreso' ingreso.id  %}>Mostrar ingreso</a>
                                    <a class="btn btn-success"<a href={% url 'editar_ingreso' ingreso.id  %}>Editar ingreso</a>
                                    <a class="btn btn-warning"<a href={% url 'eliminar_ingreso' ingreso.id  %}>Eliminar ingreso</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            {% else %}
                    <p> No hay ingresos Registrados </p>
            {% endif %}
        </div>
    </div>
               
</div>
{% endblock %}