
{% extends "base.html" %}
{% load i18n %}
{% block content %}



<!-- **************************************************************************
*          HEADER
****************************************************************************-->
    <header class="container">
        <div class="row >
            <div class="col-12 col-sm-6 col-md-3" style="padding: 20px 20px" >
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/media/desarrollo/baner1.png" class="d-block w-100" alt="Baner Precentacion de tienda">
                  </div>
                  <div class="carousel-item">
                    <img src="/media/desarrollo/baner2.png" class="d-block w-100" alt="Baner de envios a todo el pais">
                  </div>
                  <div class="carousel-item">
                    <img src="/media/desarrollo/baner3.png" class="d-block w-100" alt="Baner Precentacion de tienda 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>
    </header>

<!-- **************************************************************************
*          MAIN SECTION
****************************************************************************-->
<main class="container">
  <section class="row">
      <div class="col"style="padding: 20px 20px" >
        <div class="card-group">
          <div class="card p-3 mb-2 border border-dark card text-white bg-danger text-center">
            <img src="/media/desarrollo/admin3.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2">Administra Tu Negocio y/o Servicio Tecnico</h5>
              <p class="card-text fw-bold text-center text-white">Podrá administrar sus clientes, entregar ordenes de reparacion
                , controlar inventario entre otras funciones.</p>
              <div class="d-grid gap-2">
                <a class="btn btn-dark mb-4" href={% url 'index' %}>Saber mas...</a>
                </div> 
            </div>
          </div>
          <div class="card p-3 mb-2 border border-dark card text-white bg-primary text-center">
            <img src="/media/desarrollo/repuestos.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2">Tienda en Linea de Repuestos, Herramentas y Accesorios</h5>
              <p class="card-text fw-bold text-center text-white">Accede a Tienda de Repuestos, Accesorios y Herramientas para el Gremio.</p>
              <div class="d-grid gap-2">
                <a class="btn btn-dark mb-4" href={% url 'index' %}>Ingresar</a>
                </div> 
            </div>
          </div>
          <div class="card p-3 mb-2 border border-dark card text-dark bg-warning text-center">
            <img src="/media/desarrollo/compra-venta.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2">Publica tus Clasificados de articulos usados </h5>
              <p class="card-text fw-bold text-center text-black">Publica Tus Repuestos, equipos Usados, Herramientas, accesorios Usados 
              como tambien tus servicios de experto en alguna area.</p>
              <div class="d-grid gap-2">
                <a class="btn btn-dark mb-4" href={% url 'en_construccion' %}>Ingresar</a>
                </div> 
            </div>
          </div>
        </div>
          </div>
      </div>
  </section>
</main>

<!-- **************************************************************************
*          SECTION
****************************************************************************-->
    <section class="container">
        <div class="row">
            <div class="col-12" style="padding: 20px 20px 30px 20px">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card card text-dark bg-info mb-3">
                    <div class="card-body">
                      <h5 class="card-title text-center fs-2">Pedidos y Cotizaciones especiales</h5>
                      <p class="card-text text-center text-black">Solicita Presupuestos especiales o realiza consultas</p>
                      <div class="d-grid gap-2">
                       <a href="#" class="btn btn-primary mb-4">Contactanos</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card card text-white bg-success mb-3">
                    <div class="card-body">
                      <h5 class="card-title text-center fs-2">Curso de Reparacion de Celulares</h5>
                      <p class="card-text text-center text-black">Aprenda a Detectar y resolver fallas en sus equipos celulares y tablets.</p>
                      <div class="d-grid gap-2">
                        <a href="{% url 'en_construccion' %}" class="btn btn-primary mb-4">Ingreso al Curso</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
  
    

    
{% endblock  %}