<!-- **************************************************************************
*          FOOTER
****************************************************************************-->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5 p-0" >

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Conectate a nuestras redes:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          
          <a href="" class="text-white me-4">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" aria-labelledby="twitter"><title id="twitter">Twitter</title><path id="icntwitter" fill="#FFFFFF" 
              d="M25.284,11.305c-0.177,8.058-5.256,13.662-12.963,14.013c-3.152,0.176-5.43-0.875-7.531-2.102c2.277,0.351,5.254-0.525,6.831-1.927c-2.277-0.175-3.679-1.401-4.379-3.327c0.7,0.174,1.401,0,1.927,0c-2.102-0.701-3.504-1.928-3.679-4.73c0.525,0.35,1.227,0.525,1.928,0.525C5.841,12.881,4.79,9.553,6.016,7.451c2.277,2.452,5.08,4.554,9.634,4.904c-1.227-4.904,5.43-7.532,8.059-4.203c1.225-0.176,2.101-0.701,2.978-1.051c-0.352,1.226-1.052,1.927-1.928,2.627c0.876-0.175,1.751-0.35,2.452-0.701C27.035,9.903,26.159,10.604,25.284,11.305z"/></svg>
          </a>
          <a href="" class="text-white me-4">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" aria-labelledby="instagram"><title id="instagram">Instagram</title><g id="icninstagram"><path fill="#FFFFFF" 
              d="M16,10.295c-3.146,0-5.705,2.56-5.705,5.705s2.56,5.705,5.705,5.705s5.705-2.56,5.705-5.705S19.146,10.295,16,10.295z M16,19.295c-1.816,0-3.295-1.479-3.295-3.295s1.479-3.294,3.295-3.294s3.294,1.478,3.294,3.294S17.816,19.295,16,19.295z"/><circle fill="#FFFFFF" cx="21.889" cy="10.125" r="1.35"/><path fill="#FFFFFF" d="M21.488,4.924H10.512c-3.081,0-5.588,2.507-5.588,5.588v10.977c0,3.081,2.507,5.588,5.588,5.588h10.977c3.081,0,5.588-2.507,5.588-5.588V10.512C27.076,7.431,24.569,4.924,21.488,4.924z M24.665,21.488c0,1.752-1.425,3.177-3.177,3.177H10.512c-1.751,0-3.177-1.425-3.177-3.177V10.512c0-1.751,1.426-3.177,3.177-3.177h10.977c1.752,0,3.177,1.426,3.177,3.177V21.488z"/></g></svg>
          </a>
          <a href="" class="text-white me-4">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" aria-labelledby="facebook"><title id="facebook">Facebook</title><path id="icnfacebook" fill="#FFFFFF" 
              d="M20.653,16.009h-3.045c0,4.865,0,10.853,0,10.853h-4.512c0,0,0-5.93,0-10.853h-2.145v-3.836h2.145v-2.48c0-1.777,0.845-4.554,4.553-4.554l3.344,0.013v3.724c0,0-2.031,0-2.426,0c-0.396,0-0.957,0.197-0.957,1.045v2.254h3.438L20.653,16.009z"/></svg>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              
                  <h6 class="fst-italic text-align-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                    <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                  </svg>EnLinea.com</h6>
                  <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
               Somos una empresa dinámica y con trayectoria, cuyo objetivo es brindar soluciones integrales en el área de telefonía 
               celular Insumos y accesorios y servicios tecnológicos tanto a individuos como a medianas y grandes empresas.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Productos</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a class="nav-link active" href={% url 'en_construccion' %}>Tienda</a>
              </p>
              </p>
              <p>
                <a class="nav-link active" href={% url 'en_construccion' %}>Curso</a>
              </p>
              <p>
                <a class="nav-link active" href={% url 'preguntas_frecuentes' %}>Preguntas Frecuentes</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a class="nav-link active" href={% url 'registration_register' %}>Registrarse</a>
              </p>
              <p>
                  <a class="nav-link active" href={% url 'about' %}>Quienes Somos</a>
              </p>
              <p>
                  <a class="nav-link active" href={% url 'contacto' %}>Contacto</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contacto</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Rioja 180, Centro Cordoba Capital</p>
              <p><i class="fas fa-envelope mr-3"></i> desbloqueoenlinea@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i>+549 3515205342</p>
              
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright:
        <a class="text-white" href="https://EnLinea.com/"
           >EnLinea.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->